<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button/>
        </ion-buttons>
        <ion-title class="ion-text-center">{{ isEdit ? 'Edit item' : 'Add item' }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-end ion-padding-top">
    <form [formGroup]="form" (ngSubmit)="save()" class="ion-display-flex ion-flex-column">
        <ion-list>
            <ion-item>
                <ion-input
                    [class.ion-invalid]="fieldInvalid('title')"
                    formControlName="title"
                    label="Назва завдання*"
                    labelPlacement="stacked"
                    placeholder="Введіть назву"
                    [maxlength]="100"/>
            </ion-item>
            <ion-item>
                <ion-input
                    [class.ion-invalid]="fieldInvalid('description')"
                    formControlName="description"
                    label="Опис завдання"
                    labelPlacement="stacked"
                    placeholder="Введіть опис"
                    [maxlength]="100"/>
            </ion-item>
        </ion-list>
        <ion-button type="submit" class="ion-align-self-end ion-margin-top">Зберегти</ion-button>
    </form>
</ion-content>
