<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/item"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ isEdit ? 'Редагування' : 'Нове завдання' }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="page-bg">
        <div class="form-card">
            <form [formGroup]="form" (ngSubmit)="save()" novalidate>

                <div class="field-group">
                    <ion-input
                        fill="outline"
                        type="text"
                        label="Назва завдання *"
                        labelPlacement="stacked"
                        placeholder="Введіть назву"
                        [maxlength]="100"
                        [counter]="true"
                        formControlName="title"
                        [errorText]="fieldError('title')"
                        [class.ion-invalid]="fieldInvalid('title')"
                        [class.ion-touched]="form.get('title')?.touched"
                    />
                </div>

                <div class="field-group">
                    <ion-input
                        fill="outline"
                        type="datetime-local"
                        label="Кінцева дата"
                        labelPlacement="stacked"
                        formControlName="dueDate"
                        [min]="minDate"
                        [errorText]="fieldError('dueDate')"
                        [class.ion-invalid]="fieldInvalid('dueDate')"
                        [class.ion-touched]="form.get('dueDate')?.touched"
                    />
                </div>

                <div class="field-group">
                    <ion-textarea
                        fill="outline"
                        label="Опис завдання"
                        labelPlacement="stacked"
                        placeholder="Введіть опис (необовʼязково)"
                        rows="4"
                        [maxlength]="100"
                        [counter]="true"
                        formControlName="description"
                        [errorText]="fieldError('description')"
                        [class.ion-invalid]="fieldInvalid('description')"
                        [class.ion-touched]="form.get('description')?.touched"
                    ></ion-textarea>
                </div>

                <ion-button expand="block" type="submit" class="submit-btn">
                    <ion-icon slot="start" name="save-outline"></ion-icon>
                    Зберегти
                </ion-button>

            </form>
        </div>
    </div>
</ion-content>
