<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/item"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ isEdit ? 'Редагування' : 'Нове завдання' }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="page-bg">
        <div class="form-card">
            <form [formGroup]="form" (ngSubmit)="save()" novalidate>

                <div class="field-group">
                    <ion-input
                        fill="outline"
                        type="text"
                        label="Назва завдання *"
                        labelPlacement="stacked"
                        placeholder="Введіть назву"
                        [maxlength]="100"
                        [counter]="true"
                        formControlName="title"
                        [errorText]="fieldError('title')"
                        [class.ion-invalid]="fieldInvalid('title')"
                        [class.ion-touched]="form.get('title')?.touched"
                    />
                </div>

                <div class="field-group">
                    <ion-input
                        fill="outline"
                        type="datetime-local"
                        label="Кінцева дата"
                        labelPlacement="stacked"
                        formControlName="dueDate"
                        [min]="minDate"
                        [errorText]="fieldError('dueDate')"
                        [class.ion-invalid]="fieldInvalid('dueDate')"
                        [class.ion-touched]="form.get('dueDate')?.touched"
                    />
                </div>

                <div class="field-group">
                    <ion-textarea
                        fill="outline"
                        label="Опис завдання"
                        labelPlacement="stacked"
                        placeholder="Введіть опис (необовʼязково)"
                        rows="4"
                        [maxlength]="100"
                        [counter]="true"
                        formControlName="description"
                        [errorText]="fieldError('description')"
                        [class.ion-invalid]="fieldInvalid('description')"
                        [class.ion-touched]="form.get('description')?.touched"
                    ></ion-textarea>
                </div>

                <div class="field-group photos">
                    <div class="photos-label">Фотографії</div>
                    <div class="photos-grid">

                        @for (photo of photos; track photo.storagePath) {
                            <div class="photo-item">
                                <img [src]="photo.url" alt="Фото" (click)="openPhoto(photo.url)" />
                                <button type="button" class="photo-remove" (click)="removeExistingPhoto(photo)">
                                    <ion-icon name="close-circle"></ion-icon>
                                </button>
                            </div>
                        }

                        @for (photo of pendingPhotos; track $index) {
                            <div class="photo-item photo-pending">
                                <img [src]="photo.preview" alt="Фото" (click)="openPhoto(photo.preview)" />
                                <button type="button" class="photo-remove" (click)="removePendingPhoto($index)">
                                    <ion-icon name="close-circle"></ion-icon>
                                </button>
                            </div>
                        }

                        <button type="button" class="photo-add" (click)="pickPhoto()">
                            <ion-icon name="camera-outline"></ion-icon>
                            <span>Додати</span>
                        </button>

                    </div>
                </div>

                <ion-button expand="block" type="submit" class="submit-btn" [disabled]="isSaving">
                    @if (isSaving) {
                        <ion-spinner name="crescent" slot="start"></ion-spinner>
                    } @else {
                        <ion-icon slot="start" name="save-outline"></ion-icon>
                    }
                    Зберегти
                </ion-button>

            </form>
        </div>
    </div>
</ion-content>

<ion-modal
    [isOpen]="!!selectedPhotoUrl"
    [backdropDismiss]="true"
    (didDismiss)="closePhoto()"
    class="photo-viewer-modal"
>
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="end">
                    <ion-button (click)="closePhoto()">
                        <ion-icon slot="icon-only" name="close"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <div class="photo-viewer-wrap">
                <img [src]="selectedPhotoUrl" class="photo-viewer-img" alt="Фото" />
            </div>
        </ion-content>
    </ng-template>
</ion-modal>
