<ion-app>
    <ion-router-outlet/>

    @if (biometricService.isLocked()) {
        <div class="lock-screen">
            <ion-icon name="lock-closed-outline" class="lock-screen__icon"/>
            <p class="lock-screen__title">{{ 'APP.LOCKED_TITLE' | translate }}</p>
            <ion-button (click)="retry()" expand="block" class="lock-screen__button">
                {{ 'APP.BIOMETRIC_BTN' | translate }}
            </ion-button>
        </div>
    }
    @if (!biometricService.isLocked() && (connectionService.isOnline$ | async) === false) {
        <div class="lock-screen">
            <ion-icon name="globe-outline" class="lock-screen__icon"></ion-icon>
            <p class="lock-screen__title">{{ 'APP.NO_CONNECTION_TITLE' | translate }}</p>
            <p class="lock-screen__title">{{ 'APP.NO_CONNECTION_HINT' | translate }}</p>
        </div>
    }
</ion-app>
