<div class="photos-grid">

    @for (photo of photos; track photo.storagePath) {
        <div class="photo-item">
            <img [src]="photo.url" [attr.alt]="'PHOTO.ALT' | translate" (click)="handleOpenPhoto(photo.url)" />
            <button type="button" class="photo-remove" (click)="handleRemoveExisting(photo)">
                <ion-icon name="close-circle"></ion-icon>
            </button>
        </div>
    }

    @for (photo of pendingPhotos; track $index) {
        <div class="photo-item photo-pending">
            <img [src]="photo.preview" [attr.alt]="'PHOTO.ALT' | translate" (click)="handleOpenPhoto(photo.preview)" />
            <button type="button" class="photo-remove" (click)="handleRemoveAdded($index)">
                <ion-icon name="close-circle"></ion-icon>
            </button>
        </div>
    }

    <button type="button" class="photo-add" (click)="pickPhoto()">
        <ion-icon name="camera-outline"></ion-icon>
        <span>{{ 'PHOTO.ADD' | translate }}</span>
    </button>

</div>
