<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="ion-text-center">ToDo List</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        @for (item of items; track item.id) {
            <ion-item-sliding #slidingItem (click)="editTask(item)">
                @if (!item.completed) {
                    <ion-item-options side="start" (ionSwipe)="toggleTask(item, slidingItem)">
                        <ion-item-option color="success" (click)="toggleTask(item, slidingItem); $event.stopPropagation()">Done</ion-item-option>
                    </ion-item-options>
                }

                <ion-item>
                    @if (item.completed) {
                        <ion-icon name="checkmark-circle" color="success"/>
                    } @else {
                        <ion-icon name="radio-button-off" color="warning"/>
                    }
                    <ion-label class="ion-padding-start">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.description || 'Опис відсутній' }}</p>
                    </ion-label>
                </ion-item>

                <ion-item-options side="end" (ionSwipe)="deleteTask(item, slidingItem)">
                    <ion-item-option color="danger" (click)="deleteTask(item, slidingItem); $event.stopPropagation()">Delete</ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        }
    </ion-list>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-padding">
        <ion-fab-button (click)="addItem()">
            <ion-icon name="add"/>
        </ion-fab-button>
    </ion-fab>
</ion-content>
