<ion-header>
    <ion-toolbar>
        <ion-title>{{ 'ITEMS.TITLE' | translate }}</ion-title>
        <ion-buttons slot="end">
            <app-user-menu [account]="account"/>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    @if (items.length === 0) {
        <div class="empty-state">
            <img src="/assets/icon/empty-state.svg" alt="Empty state"/>
            <p class="empty-title">{{ 'ITEMS.EMPTY_TITLE' | translate }}</p>
            <p class="empty-subtitle">{{ 'ITEMS.EMPTY_SUBTITLE' | translate }}</p>
        </div>
    }

    <ion-list lines="none" class="task-list">
        @for (item of items; track item.id) {
            <app-task-item [item]="item" (toggleTask)="toggleTask($event)" (editTask)="editTask($event)" (deleteTask)="deleteTask($event)"/>
        }
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add" (click)="addItem()"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
