<ion-header>
    <ion-toolbar>
        <ion-title>Мої завдання</ion-title>
        <ion-label class="user-name" slot="end"><strong>{{ account?.displayName }}</strong></ion-label>
        <ion-buttons slot="end">
            <ion-button (click)="logout()" class="logout-btn">
                <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    @if (items.length === 0) {
        <div class="empty-state">
            <img src="/assets/icon/empty-state.svg" alt="Empty state"/>
            <p class="empty-title">Завдань ще немає</p>
            <p class="empty-subtitle">Натисніть + щоб додати перше завдання</p>
        </div>
    }

    <ion-list lines="none" class="task-list">
        @for (item of items; track item.id) {
            <app-task-item [item]="item" (toggleTask)="toggleTask($event)" (editTask)="editTask($event)" (deleteTask)="deleteTask($event)"/>
        }
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add" (click)="addItem()"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
